:root{
    --white: #FFFFFF;
    --dark : #00171f;
    --dark-blue : #141352;
    --purple: #9D29C0;
    --soft-blue : #C5DDF9;
    --violet : #808AE7;
    --vibrant-blue : #2517BC;
}


/* buat pake rootnya tinggal kayak gini ya ges 
body{
    background-color: var(--purple);
}
    harusnya kalo kalian search kata kata yang ada di root, langsung muncul. inget kliknya yang ada --
*/
