/* buat import jenis jenis font */
@import url(jenisFont.css);

/* untuk import variable root nanti mendingan pindahin sebelum mau submit*/
@import url(variables.css);

:root{
    --white: #FFFFFF;
    --dark : #00171f;
    --dark-blue : #141352;
    --purple: #9D29C0;
    --soft-blue : #C5DDF9;
    --violet : #808AE7;
    --vibrant-blue : #2517BC;
    --mid-blue : #007EA7;
    --heading-font : DM Sans;
    --info-font : Space Grotesk;
    --footer-font : Nunito Sans;
}

/* 
tolong dipake rootnya ya gais, soalnya bakal dinilai kebersihan codingnya

buat pake rootnya tinggal kayak gini ya ges 
body{
    background-color: var(--purple);
}
    harusnya kalo kalian search kata kata yang ada di root, langsung muncul. inget kliknya yang ada --
*/

/* kalo mau pake asset tinggal ./ ya gais */

/* cuman info aja, buat garis yang putih itu, gara gara contentnya lebih kecil daripada body, jadi harusnya nanti ilang kalo dah ada content lain */

body {
    display: block;
    box-sizing: border-box;
    margin: 0;
}

.container {
    /* hati hati sama padding ini ya ges */
    padding: 0 180px 0 180px;
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 115px;
    background-color: var(--dark);
    gap: 40px;
}

.LogoHIMTINavbar{
    width: 78px;
    height: 87px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 76px; 
}

.NavbarContainer{
    display: flex;
    list-style: none;
    margin-right: 76px;
    font-weight: 500;
    font-size: 32px;
    margin-top: 39px;
    margin-bottom: 39px;
    height: 37px;
}

.NavbarContainer a{
    color: var(--white);
    letter-spacing: 0%;
    text-decoration: none;
    font-family: var(--heading-font);
}

.NavbarMenu{
    margin-left: 25px;
    width: 108px;
}

/* Hero Section*/

/* Event */
#events-section {
    background-color: var(--violet);
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
}

#events-section h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 64px;
    color: var(--white);
}

#event-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.event-cards {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: var(--white);
    height: fit-content;
    /* border: 5px solid rgb(166, 255, 0); */
    padding : 0 35px 0 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.0.25); 
}

#events-section img{
    width: 675px;
    height: 675px;
    display: block;
    margin: 0;
    /* border: 5px solid red; */
}

.event-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: var(--info-font);
    /* border: 5px solid rgb(85, 0, 255); */
}

#events-section h3{
    color : var(--purple);
    font-size: 48px;
    font-weight: 700;
    /* border: 5px solid rgb(255, 0, 225); */
    margin-bottom: 15px;
}

.type {
    color: var(--dark)
}

#events-section h4{
    color : var(--mid-blue);
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    /* border: 5px solid rgb(255, 0, 0); */
}

#events-section p{
    color : var(--dark);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    border: 5px solid rgb(43, 255, 0);
}

/* Button */
#events-section button{
    border-radius: 34px;
    width: 597px;
    height: 58px;
    color: var(--white);
    font-size: 32px;
    font-family: var(--info-font);
    text-align: right;
    padding-right: 30px;
    cursor: pointer; 
    border:none;
}

#purple-Btn{
    background-color: var(--purple);
}

#blue-Btn{
    background-color: var(--vibrant-blue);
}

#events-section button:hover{
    background-color: var(--violet);
}


/* About */
.about-section {
  background: var(--dark-blue);
  padding: 80px 10%;
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
.about-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  gap: 85px;
}

.about-left{
  text-align:center;
  max-width:250px;
}

.about-logo{
  width:220px;
  margin-top: 150px;
}


.about-right{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width:100%;
}

.about-right p{
    font-size: 18px;
    line-height: 1.7;
    color: var(--white);
    text-align: justify;
    max-width: 100%
}
.about-right h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--soft-blue);
}

/* Contact */

#contact{
    background-color: var(--soft-blue);
    padding-top: 120px;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Judul */
.contact-heading{
    font-family: var(--heading-font);
    font-size: 64px;
    font-weight: 700;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

/* Deskripsi */
.contact-text{
    font-family: var(--info-font);
    font-size: 24px;
    color: var(--dark);
    text-align: center;
    margin-bottom: 40px;
}

/* Form */
.contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 20px;
}

/* Input dan textarea */
.contact-form input,
.contact-form textarea{
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: var(--info-font);
}

/* Tombol submit */
.contact-form button{
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--info-font);
    font-size: 24px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: var(--vibrant-blue);
}

/* Footer */
#footer{
    height: 590px;
    padding-top: 200px;
    padding-inline: 200px;
    background-color: var(--dark);
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFooter{
    display: flex;
    width: 692px;
    height: 259px;
    align-items: center;
    gap: 25px;
}

.logoBINUS{
    width: 396px;
}

.logoHIMTI{
   width: 259px;
}

.sosmed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app{
   display: flex;
   align-items: center;
   gap: 12px; 
}

.app a{
    text-decoration: none;
    font-family: var(--footer-font);
    color: var(--white);
    font-size: 33.71px;
}

.app img{
    width: 44px;
}

.copyright{
    text-align: center;
    font-family: var(--footer-font);
    margin-top: 45px;
    font-size: 33.71px;
    color: var(--white);
}